body { background-color: oldlace; }

main {
    margin: 3em auto;
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 1em;
}
h2 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

/* FORM TRANSFORMATION */
.task {
    border: 1px solid gray;
    margin-bottom: 1em;
    padding: 1em;
}

ul {
    padding: .5em 1em;
    margin: 0;
}

li {
    list-style-type: none;
    word-wrap: break-word;
}

.edittask {
    display: flex;
    align-items: baseline;
}

.taskbuttons {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.create {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin-bottom: 2em;
}

.create_label {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-left: 0.5em;
}

input { margin: 0 1em; }
input[type='submit'] {
    min-width: 80px;
    max-height: 30px;
}
input[type='number'] {
    width: 40px;
    max-height: 40px;
}
input[type='date'] {
    width: 150px;
    max-height: 40px;
}
input[type='text'] { width: 70%; }
textarea {
    width: 70%;
    margin: 0 10px;
}

/* MESSAGE TRANSFORMATION */
.info, .error { justify-content: center; }
.info { background-color: lightgreen; color: darkgreen; }
.error { background-color: palevioletred; color: darkred;}